<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
   
    <div style="background-color: #83E8D6; width: 980px; text-align:center; margin-left:auto; margin-right:auto;">
        <header>
            <h1 style="background-color:Background; height:100px; padding-top:35px; font-family:'Comic Sans MS'"><font color="white">Food Heaven</font></h1>
        </header>
        @RenderBody()
    </div>
</body>
</html>
