
@{
    ViewBag.Title = "Recipe Site";
}

<div class="text-center">
    <h2><font color="green"> @ViewBag.Greeting World</font></h2>
    <h3><font color="White">All our Recipes are ready for you!!!</font></h3>
    <img src="~/Images/unique-cooksbooks.jpg" width="980" />
    <a asp-action="RecipeList"><h2><font color="Black">Get Your Favourite Recipes Here</font></h2></a>
    <p></p>
</div>


