
@{
    ViewBag.Title = "View Recipe";
}

<div>

    <header style="background-color:aquamarine">

    </header>

    <h3 style="color:blueviolet">Recipe for Tuna Patties</h3>

    <table cellspacing="20" ;>
        <tr>
            <td>
                <img alt="Picture of Tuna Patties" src="~/Images/tuna.jpg" style="margin:10px; width: 250px; height: 260px" ; />
            </td>
            <td style="text-align:left">
                <h3 style="color:black">By:Phyllis Spencer Brixey</h3>
                <h3>
                    <font color="black"> Ingredients:</font>
                </h3><br>

                <ul>
                    <li>2 eggs</li>
                    <li>2 teaspoons</li>
                    <li>lemon juice</li>
                    <li>3 tablespoons grated Parmesan cheese</li>
                    <li>3 (5 ounce) cans tuna, drained</li>
                    <li>3 tablespoons diced onion</li>
                    <li>1 pinch ground black pepper</li>
                </ul>
                <h3 style="color:black">Directions:</h3>
                <h4 style="color:black">
                    Prep: 15 m<br />
                    Cook:10 m<br />
                    Ready In:25 m<br />
                </h4>
                <h5>
                    Beat eggs and lemon juice in a bowl; stir in Parmesan cheese and bread crumbs to make a paste. Fold in tuna and onion until well-mixed. Season with black pepper. Shape tuna mixture into eight 1-inch-thick patties.
                    Heat vegetable oil in a skillet over medium heat; fry patties until golden brown, about 5 minutes per side.
                    <bold>Footnotes:</bold>
                    Tip:
                    Aluminum foil helps keep food moist, ensures it cooks evenly, keeps leftovers fresh, and makes clean-up easy.
                    Nutrition Facts:
                    Per Serving: 325 calories; 15.5 g fat; 13.9 g carbohydrates; 31.3 g protein; 125 mg cholesterol; 409 mg sodium. Full nutrition
                </h5>
            </td>
        </tr>
    </table>
    <p><h5 style="text-align:center; color:darkblue">Click <a asp-action="Index">here</a> to go back to Recipe Page</h5></p>
</div>

